.paslaugos-wrapper {
    background-color: antiquewhite;
    padding: 30px;

}

.paslaugu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.paslaugos-blokelis {
    width: 30%;
}

.paslaugos-blokelis img:hover {
border: 1px solid black;
}