h1 {
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
} 

nav ul li a {
    font-size: 20px;
    color: brown;
}

nav ul li a:hover {
    font-size: 20px;
    color: hotpink;
}
